{
  "extends": "eslint:recommended",
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "array-bracket-spacing": ["error", "always"],
    "arrow-parens": ["error", "as-needed"],
    "brace-style": [ "error", "1tbs", { "allowSingleLine": true } ],
    "camelcase": ["error"],
    "class-methods-use-this": 1,
    "comma-dangle": ["error", "never" ],
    "comma-spacing": ["error"],
    "consistent-return": ["error", { "treatUndefinedAsUnspecified": true } ],
    "eqeqeq": ["error"],
    "func-names": 0,
    "generator-star-spacing": ["error", {"before": true, "after": false}],
    "global-require": 1,
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "max-len": ["error", 150],
    "no-bitwise": 1,
    "no-buffer-constructor": ["error"],
    "no-console": 0,
    "no-mixed-operators": 1,
    "no-nested-ternary": 1,
    "no-param-reassign": 1,
    "no-plusplus": 0,
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement",
    ],
    "no-template-curly-in-string": 0,
    "no-trailing-spaces": ["error"],
    "no-underscore-dangle": 0,
    "no-unused-expressions": ["error"],
    "no-unused-vars": ["error"],
    "no-useless-constructor": ["error"],
    "no-var": ["error"],
    "object-curly-newline": [ 0, { "multiline": true} ],
    "operator-linebreak": ["error", "after"],
    "prefer-const": ["error"],
    "semi": ["error", "always"],
    "space-in-parens": ["error", "always"],
    "space-before-blocks": ["error"]
  }
}
